/* Configurações Gerais */
body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111; /* Fundo escuro para o cabeçalho */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #222; /* Fundo escuro para o rodapé */
    color: #ddd;
    text-align: center;
    padding: 10px 0;
}

.container {
    margin: 20px auto;
    padding: 15px;
    max-width: 1200px; /* Largura máxima */
}

/* Estilo para imagens */
img {
    max-width: 100%; /* Imagens responsivas */
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.container img {
    border: 3px solid #4CAF50; /* Borda verde para imagens */
}

/* Botões */
.btn {
    border-radius: 20px; /* Arredondar bordas do botão */
    font-weight: bold;
    text-transform: uppercase;
}

.btn-success {
    background-color: #4CAF50; /* Verde */
    border: none;
}

.btn-success:hover {
    background-color: #45a049; /* Verde mais escuro no hover */
}

.btn-primary {
    background-color: #007bff; /* Azul */
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
}

/* Títulos */
h1, h2, h3, h4 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Depoimentos */
ul {
    list-style-type: none;
    padding: 0;
}

li a {
    color: #4CAF50; /* Links verdes */
    text-decoration: none;
}

li a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .btn-lg {
        padding: 10px 20px;
        font-size: 1rem;
    }
    .container {
        padding: 10px;
    }
}